<div class="content">
  <h4>Cat Care</h4>
  <p>
    With owning a pet comes many responsibilities. To keep your pet cat healthy
    and happy, many different needs need to be fulfilled. From, nutrition, and
    physical activity to vaccines and medicine, cats requiere a good and
    responsible owner. Please read the following article by Ellen Malmanger,
    found on petMD.com, a wonderful ressource for pet care:
    <a
      href="https://www.petmd.com/cat/general-health/complete-cat-health-guide-every-life-stage"
      >Complete Cat Health Guide for Every Life Stage</a
    >
  </p>
</div>
