<div class="content">
  <h4>Dog Care</h4>
  <p>
    With owning a pet comes many responsibilities. To keep your pet dog healthy
    and happy, many different needs need to be fulfilled. From, nutrition, and
    physical activity to vaccines and medicine, dogs requiere a good and
    responsible owner. Please read the following article by PetMD Editorial,
    found on petMD.com, a wonderful ressource for pet care:
    <a
      href="https://www.petmd.com/dog/general-health/how-to-take-care-of-dogs-pet-parent-checklist"
      >How to Take Care of Dogs: A Pet Parent Checklist</a
    >
  </p>
</div>
