<div class="content">
  <h4>Login</h4>
  <p>
    Please log in to access this feature. If you do not have an account, please
    <a href="/create-account">Create an Account</a>
  </p>
  <hr />
  <form action="/login" method="post">
    <fieldset>
      <legend><strong>Login</strong></legend>
      <label for="usernameLogin">Username:</label>
      <input type="text" id="usernameLogin" name="usernameLogin" />
      <br />
      <br />
      <label for="passwordLogin">Password:</label>
      <input type="password" id="passwordLogin" name="passwordLogin" />
    </fieldset>
    <br />
    <input class="button" type="submit" value="Login" id="login" />
  </form>
</div>
