<div class="content">
  <h4>Welcome to Nihit's Adoption Center - Furry Friends For Everyone</h4>
  <p>
    At Nihit's Adoption Center, we believe that everyone deserves to have a
    loyal and fluffy friend, and that every fluffy friend deserves to have a
    warm and cozy home. We value care, friendliness, and joy. We have been
    operating since 2025, and we've gain lots of knowledge over time, to take
    appropriate care for these friends.
  </p>
  <br />
  <img
    src="/home_background.png"
    id="homeImage"
    alt="Animated house with pets"
  />
</div>
