<div class="content">
  <h4>Refrences</h4>
  <p>
    Source for the image in the header:
    <a href="https://www.rawpixel.com/image/6549243/png-sticker-dog"
      >Source for image: Author: Chim</a
    >
  </p>
  <p>
    Source for the image in "Home":
    <a
      href="https://www.google.com/search?q=adoption+center+for+dogs+and+cats+stock+image&sca_esv=02bafe2a4f315466&udm=2&biw=1422&bih=612&sxsrf=AHTn8zrGiF1OnD5GCGAC8yLnO2X2qvrpRQ%3A1739766502613&ei=5rqyZ7SQJZSuptQP66X38A4&ved=0ahUKEwi0m4Wj78mLAxUUl4kEHevSHe4Q4dUDCBE&uact=5&oq=adoption+center+for+dogs+and+cats+stock+image&gs_lp=EgNpbWciLWFkb3B0aW9uIGNlbnRlciBmb3IgZG9ncyBhbmQgY2F0cyBzdG9jayBpbWFnZTIFEAAYgAQyBRAAGIAESP4TUIYEWNMTcAF4AJABAJgBAKABAKoBALgBA8gBAPgBAZgCAaACBZgDAIgGAZIHATGgBwA&sclient=img#vhid=EnP20oMwLxBJgM&vssid=mosaic"
      >Source for image: Author: Nadezhda Kurbat, on Getty Images/iStock</a
    >
  </p>
  <p>
    Source for the image of the golden retriever:
    <a href="https://www.vidavetcare.com/dog-breed/golden-retriever/"
      >Vida Veterinary Care</a
    >
  </p>
  <p>
    Source for the image of the british shorthair cat:
    <a
      href="https://mylovelyfeline.com/en-ca/blogs/content/british-shorthair-cats-everything-you-need-to-know"
      >My Lovely Feline</a
    >
  </p>
  <p>
    Source used for email validation:
    <a
      href="https://www.geeksforgeeks.org/javascript-program-to-validate-an-email-address/"
      >GeeksForGeeks.org</a
    >
  </p>
  <p>
    Source for username and password verification Regex:
    <a
      href="https://stackoverflow.com/questions/7684815/regex-pattern-to-match-at-least-1-number-and-1-character-in-a-string"
      >Stack Overflow</a
    >
  </p>
  <p>
    Source for URLSearchParams, to do find_pets:
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/URLSearchParams"
      >Mdn Web Docs</a
    >
  </p>
  <p>
    Source for HTMLElement dataset, to do find_pets:
    <a
      href="https:https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset"
      >Mdn Web Docs</a
    >
  </p>
  <p>
    Source picture of bulldog used in browse_pets:
    <a href="https://www.istockphoto.com/photos/english-bulldog">iStock</a>
  </p>
  <p>
    Source picture of maine coon used in browse_pets:
    <a href="https://spotpetinsurance.ca/breeds/cat-breeds/maine-coon"
      >Spot Pet Insurance</a
    >
  </p>
  <p>
    Source for default image used in Find_pets:
    <a
      href="https://www.istockphoto.com/search/2/image?mediatype=illustration&phrase=dog+and+cat+logo"
      >istockphoto</a
    >
  </p>
</div>
